{% extends 'layouts/base.twig' %}

{% block main_content %}
    <h2>All Products</h2>
    <ul>
        {% for product in products %}
            <div>
                {{product.title}} {{"Price:"}}{{product.price}} - 
                <a href="/products/{{ product.id }}">Edit</a>
                <a href="/products/{{ product.id }}/delete">Delete</a>
            </div>
        {% endfor %}
    </ul>
    <a href="products/new">Create New Product</a>
{% endblock %}