{% extends 'layouts/base.twig' %}

{% block main_content %}
    <h2>All Products</h2>
    <ul>
        {% for product in products %}
            <nav>
                {{product.bike}} {{"Price:"}}{{product.price}} - 
                <a href="/products/{{ product.id }}">Edit</a>
                <a href="/products/{{ product.id }}/delete">Delete</a>
            </nav>
        {% endfor %}
    </ul>
{% endblock %}