{% extends 'layouts/base.twig' %}

{% block main_content %}
    <h2>All Products</h2>
    <ul>
        {% for image in images %}
            <nav>
                {{image.title}} {{"Price:"}}{{image.price}} - 
                <a href="/images/{{ image.id }}">Edit</a>
                <a href="/images/{{ image.id }}/delete">Delete</a>
            </nav>
        {% endfor %}
    </ul>
    <a href="/images/new">Create Image</a>
{% endblock %}