{% extends 'layouts/base.twig' %}

{% block main_content %}
    <h2> About Image #{{ image.id }} </h2>
    <ul>
        <li style="list-style: none;" >
            <label>Id: </label> {{ image.id }}
        </li>
        <li style="list-style: none;" >
            <label>Assigned Variant: </label> {{ variant.title }}
        </li>
    </ul>
    <p>
        <a href="/images/{{ image.id }}/edit">Edit</a> | <a href="/images/{{ image.id }}/delete">Delete</a>
    </p>
{% endblock %}